<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="body">
    
    
    
        <div class="botones">
            <h1 class="h1">Bienvenido a la Página Principal</h1>
            <a href="/"><button class="boton">Home</button></a></li>
            <a href="/login"><button class="boton">Login</button></a></li>
            <a href="/register" > <button class="boton">Register</button></a></li>
        
        </div>
</body>
</html>