<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="body-login">
    <div class="login-container">
        <h1 class="login-title">Iniciar Sesión</h1>
        <form action="/api/sessions/login" method="post" class="login-form">
            <input type="email" name="email" placeholder="Correo electrónico" required class="login-input">
            <input type="password" name="password" placeholder="Contraseña" required class="login-input">
            <button type="submit" class="login-button">Ingresar</button>
        </form>
    </div>
    </body>
</html>